<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="https://www.bancoripley.cl/img/logo-app-banco.png" alt="" width="auto" height="40"
        class="d-inline-block">

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['home']" routerLinkActive="active" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['destinarios']" routerLinkActive="active" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">Agregar Destinatario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['transferencia']" routerLinkActive="active" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">Transferir</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['historial']" routerLinkActive="active" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">Historial</a>
        </li>
      </ul>
    </div>
  </div>
</nav>